.vscode/**
.vscode-test/**
.github/**
.gitattributes
.gitmodules
.node-version
.oxfmtrc.json
.oxlintrc.json
.release-please-manifest.json
.rumdl.toml
.rumdl_cache/**
.typos.toml
.yamllint
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
hk.pkl
mise.toml
patches/**
pdfjs_version.txt
pnpm-lock.yaml
pnpm-workspace.yaml
release-please-config.json
third_party/**
tools/**
